@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* @apply bg-light-grayish-blue-bar; */
  font-family: "Josefin Sans", sans-serif;
}

@media (max-width: 768px) {
  .grid-area {
    grid-template-areas:
      "icon"
      "image-content"
      "text-content";
  }

  .text-section {
    grid-area: text-content;
  }

  .image-section {
    grid-area: image-content;
  }

  .logo {
    grid-area: icon;
  }
}
