---
import "../styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main class="grid grid-cols-[57.6%,1fr] w-full h-screen">
      <section
        class="py-16 px-[164px] pl-[165px] bg-pattern bg-cover bg-center"
      >
        <div>
          <img src="./images/logo.svg" alt="logo" />
        </div>
        <div class="mt-[138px] max-w-[445px] flex flex-col">
          <h1 class="text-[64px] uppercase tracking-[17px] leading-[67px] font-semibold">
            <span class="text-desaturated-red font-light">We're</span> coming soon
          </h1>
          <p class="text-desaturated-red text-lg mt-[22px] tracking-[-0.8px]">
            Hello fellow shoppers! We're currently building our new fashion
            store. Add your email below to stay up-to-date with announcements
            and our launch deals.
          </p>
          <div
            class="flex justify-between border border-desaturated-red rounded-full pl-[31px] h-14 bg-white mt-[40px]"
          >
            <input type="text" placeholder="Email Address" class="w-full outline-0" />
            <button
              type="button"
              class="bg-soft-red w-[130px] h-full flex justify-center items-center rounded-full shadow-button-shadow bg-[linear-gradient(135deg,hsl(0,80%,86%),hsl(0,74%,74%))]"
            >
              <img src="./images/icon-arrow.svg" alt="arrow" class="" />
            </button>
          </div>
        </div>
      </section>
      <section class="w-full h-full overflow-hidden">
        <picture>
          <source media="(width <= 768)" srcset="./images/hero-mobile.jpg" />
          <!-- <img src="./images/hero-desktop.jpg" alt="hero image" class="w-full h-max object-center object-position-center"/> -->
          <img
            src="./images/hero-desktop.jpg"
            alt="hero image"
            class="w-full"
          />
        </picture>
      </section>
    </main>
  </body>
</html>
